################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MutantsChallenge/DotNetWebApi/.vs
/MutantsChallenge/DotNetWebApi/Scanner/obj
